.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.hea-a {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  background-image: url(peopleoffice.jpg);
}
.hea_b {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.hsek_b {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.hsek-b-list {
  display: flex;
  gap: 24px;
}

.hea-c {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin-bottom: 8px;
  margin-bottom: 8px;
}
.hea-c-inna {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin-bottom: 8px;
  margin-bottom: 8px;
}
.hea-c-ppp {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  margin-bottom: 8px;
  margin-bottom: 8px;
}
.hsek-c {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.hsek-c-list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.hsek-d {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.hsek-d-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.hsek-d-list-a {
  list-style: none;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-hsek-d {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.paragraph {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}
.paragraph-one {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
  margin-bottom: 8px;
}
.paragraph-app {
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
  margin-bottom: 8px;
}
.paragraph_footer {
  max-width: 264px;
}
.header {
  border-bottom: 1px solid #e7e9fc;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.section-a {
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
/* .new-menu-window {
  transform: translateX(0%);
} */

.nav-new {
  display: none;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dpi) {
  .section-a {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero\ image-mobile-x2.jpg);
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 100%;
    background-position: center;
  }
}
@media (min-resolution: 192dpi) and (min-width: 1158px) {
  .section-a {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero\ image-tablet-x2.jpg);
  }
}

.hsek-c-list,
.nav-new {
  display: block;
}
.hsek-c-list {
  display: flex;

  gap: 72px;
  align-items: center;
}
.hsek-b-list {
  display: flex;

  gap: 72px;
}

.nav-new {
  display: none;
}
.hea-c {
  max-width: auto 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
}
.paragraph {
  max-width: auto 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.lis-a {
  border-radius: 0 0 4px 4px;
  width: auto 0;
}
.hsek-d-list-a {
  border-radius: 0 0 4px 4px;

  width: 288px;
}
img {
  margin: auto;
}

.footer {
  display: block;
}

@media (min-width: 768px) and (max-width: 1157px) {
}
.section-b {
  color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.section-c {
  background-color: #f4f4fd;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 96px;
}
.section-d {
  padding-top: 120px;
  padding-bottom: 120px;
}
.footer {
  background-color: #2e2f42;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-a {
}
.button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  min-width: 169px;
  height: 56px;
  cursor: pointer;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
  transition-property: all;
  border-radius: 4px;
  background-color: #4d5ae5;
}
/* button {
  cursor: pointer;
  border: none;
  transition-property: all;
  border-radius: 4px;
  background-color: #4d5ae5;
} */
.button:hover,
.button:focus {
  background-color: #404bbf;
}
a:hover {
  color: #404bbf;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 120px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;

  display: inline-block;
  margin-bottom: 16px;
}
.logo-span {
  color: #2e2f42;
}
.link-a {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-a-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  gap: 40px;
  color: #404bbf;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-b {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-b-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  gap: 40px;
  color: #404bbf;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-c-menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  gap: 40px;
  color: #2e2f42;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link_a:focus,
.link_a:active {
  color: #404bbf;
}

.list {
  font-style: normal;
  color: #404bbf;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list-aa {
  font-style: normal;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-aaa {
  font-style: normal;
  color: #404bbf;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list::after {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-list-menu {
  display: flex;

  gap: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.address {
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-menu {
  /* display: block;
  width: 193px;
  height: 72px; */
}

.address-a {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address_a:focus {
  color: #404bbf;
}

.logo-span_a {
  color: #f4f4fd;
}

.paragraph_footer {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.lis-a {
  width: 264px;
  background-color: #ffffff;
  list-style: none;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.lis-b {
  background-color: #ffffff;
  list-style: none;
  border-radius: 0px 0px 4px 4px;
}
.lis-c {
  background-color: #ffffff;
  list-style: none;
  border-radius: 0px 0px 4px 4px;
}
.lis-d {
  background-color: #ffffff;
  list-style: none;
  border-radius: 0px 0px 4px 4px;
}
.div-lis {
  padding: 32px 0px 32px;
  text-align: center;
}

.li-a {
  list-style: none;
}
.li-b {
  list-style: none;
}
.li-c {
  list-style: none;
}
.li-d {
  list-style: none;
}
.list {
  list-style: none;
  transition: color 250ms;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.list:focus,
.list:active,
.list:hover,
.list:visited {
  color: #404bbf;
}

.div-header {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-footer {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.paragraph-four {
  margin-bottom: 8px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.boxx {
  width: 264px;
  height: 112px;
  border: solid 1px;
  border-radius: 4px;
  border-color: #8e8f99;
  background-color: #f4f4fd;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.media {
  width: 40px;
  height: 40px;
  gap: 16px;
}
.media-two {
  width: 40px;
  height: 40px;
  gap: 24px;
}
.li-media {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}
.li-media-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  padding: 0;
}
.li-media-two {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.link-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-media-a {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-menu-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link-media-a:hover,
.link-media-a:focus {
  background-color: #404bbf;
}
.link-media:hover,
.link-media:focus {
  background-color: #31d0aa;
}
.svg-media {
  fill: #f4f4fd;
}
.social-p {
  align-items: baseline;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.link-a::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.link-a-menu::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.link-a-menu::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.footer .container-footer {
  display: flex;
  align-items: baseline;
}
.giewont {
  position: relative;
  overflow: hidden;
}
.giewont-par {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hsek-d-list-a:hover .giewont-par {
  transform: translateY(0%);
}
.hsek-d-list-a:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.form-form {
  display: flex;
  gap: 24px;
}

.form-p {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.form-footer {
  margin-left: 76px;
}
.form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.form-input::placeholder {
  color: #ffffff;
}
.form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal.is-open {
  opacity: 1;
  visibility: initial;
  pointer-events: all;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.svg-footer {
  margin-left: 16px;
}
.svg-x {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-people {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal-div {
  margin-bottom: 8px;
}
.form-modal-divv {
  position: relative;
}
.form-modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.form-modal-textarea {
  margin-bottom: 16px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.form-modal-label-text {
  margin-bottom: 16px;
}
.modal-checkbox {
  margin-bottom: 24px;
  display: flex;
}

.modal-span {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.modal-span:hover,
.modal-span:focus {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.link-modal {
  color: #4d5ae5;
}
input[type="checkbox"] .form-modal-label .modal-checkbox-input {
  border: none;
  background-color: #404bbf;
  fill: #f4f4fd;
}
.form-modal-div:focus-within svg {
  fill: #4d5ae5;
}
.new-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.new-menu-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
}
.menu-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: auto;
  /* display: block;
  gap: 40px;
  width: 151px;
  height: 200px; */
}

/* zadanie 6 */

@media screen and (max-width: 767px) {
  .container {
    max-width: 320px;
  }
  .footer .container-footer {
    display: flex;
    gap: 72px;
  }
  .button-menu {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .modal {
    display: none;
    width: 90%;
    height: 90%;
  }

  .lines {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line {
    background-color: transparent;
  }

  .header {
    padding: 16px 0;
  }

  .section-a {
    padding: 72px 0;
  }
  .hsek-c-list {
    flex-direction: column;
  }

  .hea-a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 198px;
    margin-bottom: 72px;
  }

  .section-b {
    padding: 96px 0;
  }

  .hea-c {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;

    color: #2e2f42;
  }
  .hea-c-ppp {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
  }
  .hea-c-inna {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    margin-bottom: 8px;
    margin-bottom: 8px;
  }
  .paragraph-app {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
  }

  .section-c {
    padding: 96px 0;
  }

  .section-d {
    padding: 96px 0;
  }

  .section-d {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    display: block;
    text-align: center;
  }
  .form-input {
    width: 288px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  }
}
@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .menu,
  .address,
  .boxx {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1157px) {
  .nav-new {
    display: none;
  }

  .section-d {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .container {
    background-position: center;
  }
  .section-a {
    background-color: #2e2f42;
    color: #ffffff;
    padding-top: 112px;
    padding-bottom: 112px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero\ image-tablet-x2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
  }
  .address-list-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
  }
  .header {
    border-bottom: 1px solid #e7e9fc;

    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .hsek-b-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .address-a {
    font-size: 12px;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-new {
    display: flex;
  }
  .hea-c {
    max-width: auto 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;

    margin-bottom: 72px;
  }
  .paragraph {
    max-width: auto 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }
  .lis-a {
    border-radius: 0 0 4px 4px;
    width: auto 0;
  }
  .hsek-d-list-a {
    border-radius: 0 0 4px 4px;
  }
  img {
    margin: auto;
  }

  .footer {
    display: flex;
  }
  .paragraph-app {
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #434455;
  }
  /* .hsek-c-list {
    align-items: center;
  } */
}

@media (max-width: 767px) {
  .footer {
    padding: 96px 0;
  }

  .container-footer {
    flex-direction: column;
    max-width: 320px;
  }

  .form-footer {
    margin: 0;
  }

  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    display: block;
    text-align: center;
  }

  .paragraph_footer {
    max-width: 288px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

  .to-ten-div {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .social-p {
    text-align: center;
    align-items: baseline;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }

  .form-form {
    display: flex;
    flex-direction: column;
  }
  .form-p {
    text-align: center;
  }
  .form-button {
    max-width: 165px;
    align-self: center;
  }
  .li-a {
    margin-bottom: 0;
  }
  .hsek-b-list {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }
  .button-menu {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .hsek-b-list {
    gap: 72px 24px;
  }

  .boxx {
    display: none;
  }

  .section-b .hea-c {
    margin-bottom: 8px;
    font-weight: 700;
  }

  .section-b .paragraph {
    margin: 0;
  }
  .li-a {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
  }

  .section-c .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hsek-c-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    gap: 64px 24px;
  }

  .hsek-d-list-a {
    height: auto;
    width: calc((100% - 24px) / 2);
  }

  .container-footer {
    max-width: 530px;
    flex-wrap: wrap;
  }

  .form-footer {
    margin: 0;
  }
  .hea-c {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;

    color: #2e2f42;
  }
  .hea-c-ppp {
    font-family: "Roboto", sans-serif;

    letter-spacing: 0.02em;

    color: #2e2f42;
  }
  .paragraph-app {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
  }
  .footer .container-footer {
    display: flex;
    gap: 72px 24px;
  }
  .hsek-d-list {
    display: center;
    border-bottom: 1px solid var(--cornflower);
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
  }
}
@media screen and (min-width: 1158px) {
  .button-menu {
    display: none;
  }
  .section-a {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-x2.jpg);
  }
  .address-a {
    font-size: 16px;
    font-weight: 400;
  }
  .logo {
    margin-right: 76px;
  }
  .hea-c {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    margin-bottom: 8px;
    margin-bottom: 8px;
  }
  .paragraph {
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #434455;
  }
  .hsek-b-list {
    gap: 24px;
  }
  .hsek-c-list {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .hsek-d-list-a {
    width: 360px;
  }
  .form-footer {
    margin-left: auto;
  }
  .footer-a {
    margin-right: 120px;
  }
}
